<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">
    <title>Your Order</title>
</head>

<body>
    Your OrderId -----> {{ id }} <br>
    ITEMS LEFT <br>
    Cheese Maggi -----> {{ cleft }} <br>
    Plain Maggi -----> {{ pleft }} <br>
    Masala Dosa -----> {{ mleft }} <br>
    ITEMS DONE <br>
    Cheese Maggi -----> {{ cdone }} <br>
    Plain Maggi -----> {{ pdone }} <br>
    Masala Dosa -----> {{ mdone }} <br>
</body>

</html>